In [ ]:
q1=wap to add two no
num1=12
num2=13
result=num1+num2
result

In [ ]:
q2=wap to divide two num
if num1==0:
    print("error")
else:
    result=num1/num2
print(result)

In [ ]:
wap to calculate the area of triangle,square
area=1/2*base*height
area=leng*bre

In [ ]:
wap to swap two variable
a=5
b=10
print(f"original number:a={a},b={b}")
temp=a
a=b
b=temp
print(f"after swaping :a={a},b={b}")

# module 2 ques

In [2]:
#wap to check if number is +,-,0
num=45
if num>0:
    print("positive")
elif num==0:
    print("zero")
else:
    print("negative")

positive

In [ ]:
#wap to check no is odd,even
if num%2==0:
    print("even")
else:
    print("odd")

In [4]:
#wap to find factorial
num=5
factorial=1
if num<0:
    print("factorial not exist")
elif num==0:
    print("factorial of 0 is 1")
else:
    for i in range (1,num+1):
        factorial=factorial*i
print(f"factorial of num {num} is {factorial}")

factorial of num 5 is 120

In [6]:
#table of num
num=5
for i in range (1,11):
    print(num*i)

5
10
15
20
25
30
35
40
45
50

In [7]:
num=5
for i in range (1,11):
    print(f" {num} * {i} = {num*i}")

 5 * 1 = 5
 5 * 2 = 10
 5 * 3 = 15
 5 * 4 = 20
 5 * 5 = 25
 5 * 6 = 30
 5 * 7 = 35
 5 * 8 = 40
 5 * 9 = 45
 5 * 10 = 50

In [10]:
#sum of natural no
sum1=0
num=3
for i in range (1,num+1):
    sum1+=i
print(sum1)

6

# pattern

In [11]:
row=5
for i in range(1, row + 1):
    print("*" * i)

*
**
***
****
*****

In [12]:
row=5
for i in range(5,0,-1):
    print("*" * i)

*****
****
***
**
*

In [13]:
rows = 5

for i in range(1, rows + 1):
    print(" " * (rows - i) + "*" * (2 * i - 1))

    *
   ***
  *****
 *******
*********