# Types of operators

Types of operators
Arithmetic- +,-,*,/,%,**,//
/ givea float no
% gives reminder(modulo)
// gives int 
** means power"""

"""precidence rule #ORDER: ()  →  **  →  * , / , //, %  →  + ,-  →  < ,<= ,>, >=, ==, !=  
#→  not  →  and  →  or  →  = """

# Arithmetic operators

Python follows the order of operations, also known as PEMDAS:
P: Parentheses
E: Exponents
MD: Multiplication and Division (from left to right)
AS: Addition and Subtraction (from left to right)

In [1]:
#only in case of exponentital operator
result = 2 ** 3 ** 2  # right -to- left
print(result)   # right associative 2**(3**2) =512

512

# RELATIONAL OPERATORS/COMPARISON OPERATOR

RELATIONAL OPERATORS/COMPARISON OPERATOR 
==,!=,>,<,<=,>=
always give boolean output(true,false)

In [ ]:
seq-(=)(exact match)(<> for noy equal)
python (==),(!=)
ALERT 
=,== 
== means compare the value
= means we assign some value or store some value in memory

In [2]:
a=50
b=20
print(a==b)
print(a!=b)
print(a>=b)
print(a<=b)

False
True
True
False

In [ ]:
a = 5
print(1 < a < 10) # Output: True
print(10 > a <= 9) # Output: True
print(5 != a > 4) # Output: False
print(a < 10 < a*10 == 50) # Output: True

# logical operator
# not,and,or

In [2]:
a = 15
b = 25
c = 20
print(a < b) and (b > c)
print(a < b) or (b < c)
print(not a == c)

True
True
True

# Assignment operator

In [ ]:
# Assignment operator
=,+=,-=,*=,/=,%=,**=

In [ ]:
b=a means both variable point to same memory location 
both variable have same element and same memory add

In [12]:
#+=,-=,*=,/=,**/
#immutable (int,str)
x = 1000 # with diff large value 
y = 5000
print(id(x))
print(id(y))
x=y          
print(x)
print(y)
print(id(x))
print(id(y))#Both x and y point to the same integer object 5000

1362963377488
1362963377264
5000
5000
1362963377264
1362963377264

In [ ]:
#string immutable
a="renu"   # with diff string
b="ritu"
print(id(a))  # same add 
print(id(b))
a=b     
print(a)
print(b)
print(id(a))
print(id(b))
print(a is b)

In [ ]:
#mutable 
y = [1, 2]
x=[5,6]
print(x)
print(y)
print(id(x))
print(id(y))# add diff
y=x
print(x)
print(y)# x=x+3  modify in x itself
print(id(x))
print(id(y))
print(x is y)

In [ ]:
 in case of int,str,float if you modify one variable
it will not impact the other variable

In [ ]:
but in case of list,set,dict  if you modify one variable
it will also change  the other variable

In [9]:
#having no impact on both variable
a = 10
b = a      # assignment
b += 5     # b = b + 5 creates a new integer object
print(a)  # 10
print(b)

10
15

In [ ]:
a = "hello"
b = a      # assignment
b += " world"   # creates a new string object
print(a)  # "hello"
print(b)  # "hello world"

In [ ]:
ints,float,tuple and strings are immutable, a shallow copy doesn’t make any practical difference.

In [ ]:
list ,set,dict are mutable
A shallow copy creates a new outer object but does not recursively copy the inner objects.
The new object contains references to the same inner elements.

In [7]:
a = [1, 2, 3]
b = a     # no copy, same list
print(id(a), id(b))   # same IDs
b[0] = 99
print(a)  # [99, 2, 3]  ← a changed too!
print(b)

1362907016768 1362907016768
[99, 2, 3]
[99, 2, 3]

In [8]:
import copy

a = [1, 2, 3]
b = copy.copy(a)   # shallow copy
print(id(a))
print(id(b))
b[0] = 99   # replace element in b
print(a)  # [1, 2, 3]
print(b)  # [99, 2, 3]

1362928761984
1362928755392
[1, 2, 3]
[99, 2, 3]

In [11]:
import copy

a = [1, 2, 3]
b = copy.copy(a[:2])   # shallow copy
print(a)
print(b)
print(id(a))
print(id(b))
b[0] = 99   # replace element in b
print(a)  # [1, 2, 3]
print(b)  # [99, 2, 3]

[1, 2, 3]
[1, 2]
1362963550720
1362963548672
[1, 2, 3]
[99, 2]

In [ ]:
#q1 wap to add two numbers  and store result in result variable 
#q2 wap to calculate the area of square
#q3 wap to find the average of two number by taking the input from user
#q4 Write a Python program to take two integer inputs from the user,
change the data type to float and print the float type and integer type
division of inputs.
Sample input:
4
5

# module 2

if,elif,else

In [ ]:
#syntax ( rule of programming) # print("")
# marks grade,driving licence age 
#return (true,false)
if(cond):
    statement
elif(cond):
     statement
else:
    statement

In [17]:
#driving licence 
age=21
if(age>=18):
    print("can vote")
    print("can drive")
    print("can apply for license")

In [18]:
#age=11 # if -false
age=11
if(age>=18):
    print("can vote")
    print("can drive")
    print("can apply for license")
else:
    print("not eligible")

not eligible

In [22]:
#  for checking multiple condition use elif
#signal light 
light="green"             #yellow  #pink
if(light=="red"):
    print("stop")
elif(light=="green"):
    print("go")
elif(light=="yellow"):
    print("look")
print("end of code")

go
end of code

In [21]:
#else #pink
light="pink"             
if(light=="red"):
    print("stop")
elif(light=="green"):
    print("go")
elif(light=="yellow"):
    print("look")
else:
    print("light is broken")
print("end of code")

light is broken
end of code

In [15]:
#difference between multiple ifs and elifs (only if false)
n=3       #1,3,4,0,-4
if(n>2):
    print("greater than 2")
if(n>3):
    print("greater than 3")
elif(n==1):
    print(" equal to one")
elif(n==0):
    print ("equal to 0")
else:
    print("negative num")

greater than 3

In [ ]:
n=3       #1,3,4,0,-4
if(n==2):
    print("greater than 2")
if(n>=3):
    print("greater than 3")
elif(n==1):
    print(" equal to one")
elif(n==0):
    print ("equal to 0")
else:
    print("negative num")

In [ ]:
#q1 grade of students based on marks
marks>=90, grade="a"
marks>=80 and marks <=90 ,grade="b"
marks>=70 and marks<=80,grade="c"
marks<=70,grade="d"

In [ ]:
marks=74        # using input
if(marks>=90):
    grade="a"
elif(marks>=80 and marks <=90):
    grade="b"
elif(marks>=70 and marks<=80):
    grade="c"
else:
    grade="d"
print("grade of students:",grade)

# nesting if

In [ ]:
#if inside if 
inner if execute onlyif  puter if is true
if:  #true
   if:  #true
    statement
    else
else

In [24]:
age=34
if(age>=18):    #true
    if(age>=80):  #false
        print("can not drive")
    else:
        print("can drive")   #execute
else:
    print("can not drive")

can drive

In [25]:
age=14
if(age>=18):    #false
    if(age>=80):  
        print("can not drive")
    else:
        print("can drive")  
else:   
    print("can not drive")   #execute

can not drive

# practice question

In [ ]:
q1=wap to check if number entered by user is odd or even?
q2=wap to find the greatest number from the  three number entered by user?
q3=wap to check if number is multiple of 7 or not

In [ ]:
num=14
rem=num%2
if(rem==0):
    print("even")
else:
    print("odd")

In [ ]:
if(a>b  and a>c)  #print("first num is greater",a)
elif(b>c)  #print("")
else  #print ("c")

In [ ]:
#if x%7==0 print("yes multiple of 7")

# for,while,break,continue

In [ ]:
#"hello"  #print 5 time 
print("hello")
print("hello")
print("hello")
print("hello")
print("hello")    #50 times print

# while loop

In [ ]:
A while loop runs a block of code as long as a condition is True.
Once the condition becomes False, the loop stops.
#syntax
initialize the variable  # iterator
condition :true   
    work         #iteration 
update

In [ ]:
#while True:
 #   print("hello")

In [ ]:
#  in while loop variable is important  to stop the loop

In [3]:
#print "hello" 5 time
count=1
while count<=5:
    print("hello")
    count+=1

hello
hello
hello
hello
hello

In [4]:
count=1
while count<=5:         #100
    print("hello",count)
    count+=1
print(count)

hello 1
hello 2
hello 3
hello 4
hello 5
6

# practice question

In [ ]:
q1=wap to print number 1 to 5,100
q2=wap to print number 100,5 to 1
q3=wap to print multiplication table of number provided by use
q4=wap to print the element of the following list using loop
[1,4,5,7,9,23,45,65,73,2,4]
q5=wap to search a number x in the list using loop

In [5]:
i=1
while i<=10:   #to stop the loop
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [6]:
i=10
while i >=1:   # to stop the loop
    print(i)
    i-=1

10
9
8
7
6
5
4
3
2
1

In [ ]:
n=3
i=1
while i<=10:
    print(n*i)
    i+=1

In [ ]:
n=3
i=1
while i<=10:
    print(n, "*", i, "=", n * i)
    i+=1

In [ ]:
l=[1,4,5,7,9,23,45,65,73,2,4]
#print(l[0])
#start=0,end=len(l-1)
ind=0
while ind<len(l):
    print(l[ind])
    ind+=1

In [9]:
#search a number 
l1=[1,4,5,7,9,23,45,65,73,2,4]
x=9
ind=0
while ind<len(l1):
    if(l1[ind]==x):
        print("found at index",ind)
    else:
        print("finding... ")
    ind+=1
# problem

finding...
finding...
finding...
finding...
found at index 4
finding...
finding...
finding...
finding...
finding...
finding...

In [ ]:
#break used to terminate the loop when condition if is satisfied

In [10]:
i=1
while i<=5:
    print(i)
    if(i==3):
        break
    i+=1

1
2
3

In [11]:
l1=[1,4,5,7,9,23,45,65,73,2,4]
x=9
ind=0
while ind<len(l1):
    if(l1[ind]==x):
        print("found at index",ind)
        break
    else:
        print("finding....")
    ind+=1
print("end of loop")

finding....
finding....
finding....
finding....
found at index 4
end of loop

In [ ]:
#continue terminate the execution in the current iteration  but continue the execution of loop 
with the next iteration

In [12]:
# i don't want to print the 3 
i=1
while i<=5:
    if(i==3):
        i+=1
        continue   #skip
    print(i)    
    i+=1

1
2
4
5

In [ ]:
q1=wap to print only odd number skip even number
q2=wap to print only even number

In [13]:
i=1
while i<=10:
    if(i%2==0):    #true
        i+=1
        continue   #skip
    print(i)
    i+=1

1
3
5
7
9

In [14]:
i=1
while i<=10:
    if(i%2!=0):
        i+=1
        continue
    print(i)
    i+=1

2
4
6
8
10

# for loop

In [ ]:
#are generally used for sequential traverse,for traversing list,string,tuple,set,dict,range
#when we  don't want to traverse the list using index (while)

In [19]:
l1=[1,2,4,6,7]     #traverse through index
i=0
while i<len(l1):
    print(l1[i])
    i+=1
print("end")

1
2
4
6
7
end

In [20]:
l1=[1,2,4,6,7]      #traverse  element
for el in l1:
    print(el)

1
2
4
6
7

In [21]:
vegetable=["potato","brinjal","cucumber","onion"]      #traverse  element
for el in vegetable:
    print(el)

potato
brinjal
cucumber
onion

In [ ]:
#so if we work with variable whose value need to be updated we use while loop

In [22]:
string="mynameisrenu"
for char in string:
    print(char)

m
y
n
a
m
e
i
s
r
e
n
u

In [ ]:
#we can use else with for and while loop to just print the message after completing the loop
# it does not depend on the true or false condition
# it is totally optional

In [ ]:
l1=[1,2,4,6,7]      #traverse  element
for el in l1:
    print(el)
else:
    print("end")

In [23]:
l1=[1,2,4,6,7]     #traverse through index
i=0
while i<len(l1):
    print(l1[i])
    i+=1
else:
    print("end")

1
2
4
6
7
end

In [ ]:
# question aries why we need else

In [24]:
string="mynameisrenu"
for char in string:
    if (char=="i"):
        print("i find")
        break                  # break means exit from the entire loop
    print(char)
print("end")

m
y
n
a
m
e
i find
end

In [25]:
string="mynameisrenu"
for char in string:
    if (char=="i"):
        print("i find")
        break                       #break means exit from the entire loop
    print(char)
else:
    print("end")

m
y
n
a
m
e
i find

In [ ]:
q1= wap to print the element of list using for loop
q2=search for the num x in list

In [26]:
l1=[1,2,3,4,5,7,5,75,45,34,67,25,30,49,65,100]
for el in l1:
    print(el)

1
2
3
4
5
7
5
75
45
34
67
25
30
49
65
100

In [29]:
l1=[1,2,3,4,5,7,5,75,45,34,67,25,30,49,65,49]
x=49
ind=0
for el in l1:
    if(el==x):
        print("number found",ind)
    ind+=1

number found 13
number found 15

In [30]:
l1=[1,2,3,4,5,7,5,75,45,34,67,25,30,49,65,49]
x=49
ind=0
for el in l1:
    if(el==x):
        print("number found",ind)
        break
    ind+=1

number found 13

# range

In [ ]:
 range fnction returns a sequence of number
starting by 0  and increment by 1 by default and stop before a specified number (given number)
range(start?,stop,step?)
step means increase by 1 by default

In [35]:
print(range(5))

range(0, 5)

In [38]:
# we can print element through index
seq=range(5)
print(seq[0])
print(seq[1])
print(seq[2])
print(seq[3])
print(seq[4])

0
1
2
3
4

In [39]:
seq=range(5)
for ele in seq:
    print(ele)

0
1
2
3
4

In [31]:
for el in range(5):   #stop
    print(el)

0
1
2
3
4

In [40]:
for el in range(2,10):   #start and stop
    print(el)

2
3
4

In [34]:
for el in range(2,10,2):   #start stop step
    print(el)

1
2
3
4

In [43]:
#q1 wap to print even number
for i in range(2,10,2):
    print(i)

2
4
6
8

In [44]:
#q2 wap to print odd num
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [ ]:
#q3 wap to print no 1 to 10
#q4 wap to print no 10 to 1
#q5 wap to print the multiplication table of num n

In [45]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [49]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [50]:
n=5
for i in range(1,11):
    print(n*i)

5
10
15
20
25
30
35
40
45
50

# pass

In [51]:
for i in range(5):
    #empty
print("doing some oyher work")

IndentationError: expected an indented block after 'for' statement on line 1 (1867518651.py, line 3)

In [52]:
for i in range(5):
    pass        #we don't wan to write anything right now
print("doing some oyher work")

doing some oyher work

In [ ]:
# y we use pass 
# it is used as a place holder for future use 
#just like none variable 
# we don't use pass frequently 
# we use loop to do some task

In [ ]:
q1 wap to find the sum of first n natural number (using while loop)
q2 wap to find the factorial of first n number using for

In [55]:
n=5  #1+2+3+4+5          6,7,10
sum=0
for i in range(1,n+1):
    sum+=i
print(sum)

15

In [ ]:
n=5
sum=0
i=1
while i<=n:
    sum+=i
    i+=1
print(sum)

In [ ]:
#factorial 5!=5*4*3*2*1
n=5
fact=1
i=1
while i<=n:
    fact*=i
    i+=1
print(fact)

In [ ]:
n=5
fact=1
for i in range(1,n+1):
    fact*=i
print(fact)